{% load it_issal %}<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

      <title>{% block page_title %}IT-issal :: {% block page_subtitle %}Welcome{% endblock %}{% endblock %}</title>

      <link rel="shortcut icon" href="{% theme 'img/favicon.png' %}" />

      <meta name="description" content="">

      <link href="{% theme 'css/preload.css' %}" rel="stylesheet">

      <!-- Compiled in vendors.js -->
      <!--
      <link href="{% theme 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% theme 'css/bootstrap-switch.min.css' %}" rel="stylesheet">
      <link href="{% theme 'css/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% theme 'css/animate.min.css' %}" rel="stylesheet">
      <link href="{% theme 'css/slidebars.min.css' %}" rel="stylesheet">
      <link href="{% theme 'css/lightbox.css' %}" rel="stylesheet">
      <link href="{% theme 'css/jquery.bxslider.css' %}" rel="stylesheet" />
      <link href="{% theme 'css/buttons.css' %}" rel="stylesheet">
      -->

      <link href="{% theme 'css/vendors.css' %}" rel="stylesheet">
      <link href="{% theme 'css/syntaxhighlighter/shCore.css' %}" rel="stylesheet" >

      <link href="{% theme 'css/style' %}-{% block page_skin %}blue{% endblock %}.css" rel="stylesheet" title="default">
      <link href="{% theme 'css/width-full.css' %}" rel="stylesheet" title="default">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
          <script src="{% theme 'js/html5shiv.min.js' %}"></script>
          <script src="{% theme 'js/respond.min.js' %}"></script>
      <![endif]-->
  </head>
  <div id="preloader">
      <div id="status">&nbsp;</div>
  </div>
  <body>
    {% block body %}
    <div id="theme-options" class="hidden-xs">
      {% include 'inc/wizard.html' %}
    </div>
    <div id="sb-site">
      <div class="boxed">
        <header id="header-full-top" class="hidden-xs header-full">
            <div class="container">
                <div class="header-full-title">
                    <h1 class="animated fadeInRight"><a href="index-2.html">artificial <span>reason</span></a></h1>
                    <p class="animated fadeInRight">Clean and elegant theme</p>
                </div>
                <nav class="top-nav">
                  {% include 'inc/topnav.html' %}
                </nav>
            </div> <!-- container -->
        </header> <!-- header-full -->
        <nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
            <div class="container">
              {% include 'inc/navbar.html' %}
            </div>
        </nav>

        {% block blank %}
        <header class="main-header">
            <div class="container">
              {% block breadcrumbs %}
                <h1 class="page-title">Blog Item</h1>
                <ol class="breadcrumb pull-right">
                    <li><a href="#">Blog</a></li>
                    <li class="active">Blog Item</li>
                </ol>
              {% endblock %}
            </div>
        </header>

        <div class="container">
          {% block content %}
            <div class="row">
                <div class="col-md-8">
                    <section>
                        <h2 class="page-header no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
                        <img src="{% theme 'img/demo/7.jpg' %}" class="img-responsive imageborder" alt="Image">
                        <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Laborum, quasi voluptate facilis fuga veniam quia nam vel cumque sequi dolorem vitae eius commodi ea adipisci distinctio <strong>delectus molestias porro</strong> unde consequuntur <a href="#">perferendis repudiandae aut ab ex possimus</a> rerum expedita obcaecati eveniet repellat ipsa iste. Sapiente, dolor, error, nobis odit laudantium repellat maxime dolores unde officia distinctio itaque cupiditate voluptatum saepe adipisci quas quidem vero nam nesciunt beatae corrupti ratione nemo eveniet architecto fugiat neque assumenda modi eaque aperiam a incidunt cumque veritatis libero sed. Hic, ipsum, ipsa, officia, minima veritatis explicabo nulla at veniam soluta accusamus qui quibusdam repellat corrupti eaque dignissimos ab a. Doloremque, dolor, impedit, vero animi alias temporibus blanditiis in harum molestiae obcaecati repudiandae culpa assumenda laudantium?</p>
                        <blockquote class="blockquote-big">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante nisi vel augue quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, distinctio voluptatum error sequi esse dolorum debitis ea excepturi quos in odio mollitia ab nihil obcaecati vel magni tempore porro deleniti repellat adipisci. Libero, earum, doloribus ea mollitia amet ducimus quibusdam omnis consequatur dolore neque aliquam praesentium architecto distinctio! Ad, deserunt, dolores, ex, nulla neque nihil rerum illum fuga voluptates ea unde autem consequatur ratione earum possimus? Nostrum, aspernatur, doloremque, eligendi quibusdam obcaecati laborum distinctio eum quasi ut suscipit totam possimus? Iure, quibusdam quam ad beatae dignissimos? Ipsum, sunt, ratione animi repudiandae ducimus mollitia similique commodi accusantium debitis facere ex aperiam laboriosam blanditiis perferendis asperiores porro vero fuga aliquid optio laborum sint omnis numquam beatae magnam architecto corrupti quasi non eligendi.</p>
                        <h3>consectetur adipisicing elit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi mollitia quisquam vitae repellendus molestiae! Hic, consequatur odit beatae temporibus quod vero magnam dicta praesentium. Aperiam, quibusdam, harum, repellendus, itaque eveniet nesciunt error aliquid vitae facilis blanditiis vero praesentium? Corrupti, qui, dolor temporibus quo alias impedit eligendi quaerat facilis repellendus sed aut reiciendis laudantium iusto quia ratione aliquam iste! Doloremque, natus, doloribus, laboriosam, dolorem ducimus beatae eum corporis quae blanditiis magnam sed quibusdam amet quaerat dicta provident eaque nulla necessitatibus debitis nisi suscipit animi molestiae dolorum vitae voluptates voluptatem. Nemo, fugit, perspiciatis fuga perferendis consectetur architecto excepturi voluptates repellat maxime cupiditate in eveniet ratione exercitationem quo mollitia culpa maiores! Cupiditate, similique, excepturi provident vel quod accusantium itaque fugiat obcaecati voluptates laborum.</p>
                        <img src="{% theme 'img/demo/m11.jpg' %}" alt="" class="imageborder alignright">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, autem, sint expedita praesentium sequi quam perspiciatis iure reprehenderit placeat reiciendis nostrum quas optio esse distinctio ratione commodi quia beatae facere unde cupiditate dignissimos? Dolorem, dolore, quas, adipisci quod ex repellendus similique voluptatibus magni doloribus nulla delectus optio et cum cupiditate omnis natus culpa assumenda architecto tempora quaerat sequi voluptatum placeat excepturi dolor nostrum ut illum non laborum deleniti soluta sed id porro ducimus est aspernatur quis fuga vitae voluptatem laudantium obcaecati animi hic iure perspiciatis maxime aperiam aliquid commodi voluptates deserunt blanditiis dolorum? Veritatis libero incidunt saepe quam culpa dignissimos ex accusantium repellat nulla animi. Praesentium, ratione, amet omnis aut aspernatur cum ipsum facere ab vel necessitatibus qui aliquid odio.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat consectetur porro odio incidunt ullam sint nulla impedit minus voluptate debitis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ut incidunt molestiae necessitatibus cumque ducimus quae quos. Voluptates, odit, recusandae, in accusamus enim quidem sunt provident doloribus molestiae magni deleniti quasi veniam eum laboriosam fugiat blanditiis itaque totam dolorum exercitationem quisquam! Placeat, accusamus, quo totam alias ab maxime id veniam mollitia <span class="em-success">perspiciatis debitis error eum molestiae repellat! Ipsum, temporibus sit aspernatur vero odio illo id labore tempora saepe praesentium</span> sapiente vitae placeat! Ex, quod, mollitia, accusamus, nam quae est quidem eaque vel doloribus omnis earum tenetur ducimus dolore aliquam eveniet repellat in explicabo culpa iure molestiae obcaecati sapiente quo? Ipsam, consequatur voluptas dolore magni a iste veritatis qui deleniti minima quas modi error mollitia eos inventore rem aspernatur eveniet? Delectus?</p>
                    </section>
                    <section>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a href="#" class="social-icon-ar sm no-margin-bottom rss"><i class="fa fa-rss"></i></a>
                                <a href="#" class="social-icon-ar sm no-margin-bottom facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-icon-ar sm no-margin-bottom twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-icon-ar sm no-margin-bottom google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="social-icon-ar sm no-margin-bottom wordpress"><i class="fa fa-wordpress"></i></a>
                                <a href="#" class="social-icon-ar sm no-margin-bottom linkedin"><i class="fa fa-linkedin"></i></a>

                            </div>
                        </div>
                    </section>
                    <section>
                        <h2  class="section-title">Comments</h2>
                        <ul class="list-unstyled">
                            <li class="comment">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="{% theme 'js/holder.js/100x100/sky/text_avatar.html" alt="" class="imageborder alignleft">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-4">
                                                <a href="#" class="pull-right">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-unstyled sub-comments">
                                    <li class="comment">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <img src="{% theme 'js/holder.js/100x100/sky/text_avatar.html" alt="" class="imageborder alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-lg-10 col-md-9 col-sm-8">
                                                        <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                                    </div>
                                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                                        <a href="#" class="pull-right">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="comment">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">
                                                <img src="{% theme 'js/holder.js/100x100/sky/text_avatar.html" alt="" class="imageborder alignleft">
                                                <p><strong>Comment Highlights!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-lg-10 col-md-9 col-sm-8">
                                                        <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                                    </div>
                                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                                        <a href="#" class="pull-right">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-unstyled sub-comments">
                                            <li class="comment">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <img src="{% theme 'js/holder.js/100x100/sky/text_avatar.html" alt="" class="imageborder alignleft">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <div class="row">
                                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                                <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                                            </div>
                                                            <div class="col-lg-2 col-md-3 col-sm-4">
                                                                <a href="#" class="pull-right">Reply</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="comment">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <img src="{% theme 'js/holder.js/100x100/sky/text_avatar.html" alt="" class="imageborder alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-lg-10 col-md-9 col-sm-8">
                                                        <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                                    </div>
                                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                                        <a href="#" class="pull-right">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="comment">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="{% theme 'js/holder.js/100x100/sky/text_avatar.html" alt="" class="imageborder alignleft">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-4">
                                                <a href="#" class="pull-right">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="comment">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="{% theme 'js/holder.js/100x100/sky/text_avatar.html" alt="" class="imageborder alignleft">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-4">
                                                <a href="#" class="pull-right">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-unstyled sub-comments">
                                    <li class="comment">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <img src="{% theme 'js/holder.js/100x100/sky/text_avatar.html" alt="" class="imageborder alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-lg-10 col-md-9 col-sm-8">
                                                        <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                                    </div>
                                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                                        <a href="#" class="pull-right">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="comment">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="{% theme 'js/holder.js/100x100/sky/text_avatar.html" alt="" class="imageborder alignleft">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-4">
                                                <a href="#" class="pull-right">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section> <!-- comments -->

                    <section class="comment-form">
                        <h2  class="section-title">Leave a Comment</h2>
                        <form role="form">
                            <div class="form-group">
                                <label for="inputName">Name</label>
                                <input type="email" class="form-control" id="inputName" placeholder="Your name">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
                            </div>
                            <div class="form-group">
                                <label for="inputMessage">Mesagge</label>
                                <textarea class="form-control"  id="inputMessage" rows="6"></textarea>
                            </div>
                            <button type="submit" class="btn btn-ar pull-right btn-primary">Submit</button>
                        </form>
                    </section> <!-- comment-form -->
                </div>

                <div class="col-md-4">
                    <aside class="sidebar">
                        <div class="block">
                            <div class="input-group">
                              <input type="text" placeholder="Search..." class="form-control">
                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        </div>

                        <div class="block">
                            <ul class="nav nav-tabs nav-tabs-ar" id="myTab2">
                                <li class="active"><a href="#fav" data-toggle="tab"><i class="fa fa-star"></i></a></li>
                                <li><a href="#categories" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>
                                <li><a href="#archive" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
                                <li><a href="#tags" data-toggle="tab"><i class="fa fa-tags"></i></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="fav">
                                    <h3 class="post-title">Favorite Post</h3>
                                    <ul class="media-list">
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="{% theme 'img/demo/m2.jpg' %}" width="80" height="80" alt="image"></a>
                                            <div class="media-body">
                                                <p class="media-heading"><a href="#">Lorem ipsum dolor sit amet aut consectetur adipisicing elitl libero</a></p>
                                                <small>Sep, 28 2013</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="{% theme 'img/demo/m9.jpg' %}" width="80" height="80" alt="image"></a>
                                            <div class="media-body">
                                                <p class="media-heading"><a href="#">Lorem ipsum dolor sit amet in consectetur adipisicing consequuntur</a></p>
                                                <small>Oct, 9 2013</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="{% theme 'img/demo/m12.jpg' %}" width="80" height="80" alt="image"></a>
                                            <div class="media-body">
                                                <p class="media-heading"><a href="#">Sit amet consectetur adipisicing elit incidunt minus</a></p>
                                                <small>Dec, 30 2013</small>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="archive">
                                     <h3 class="post-title">Archives</h3>
                                    <ul class="simple">
                                        <li><a href="#">December 2012</a></li>
                                        <li><a href="#">January 2013</a></li>
                                        <li><a href="#">February 2013</a></li>
                                        <li><a href="#">March 2013</a></li>
                                        <li><a href="#">April 2013</a></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="categories">
                                     <h3 class="post-title">Categories</h3>
                                    <ul class="simple">
                                        <li><a href="#">Game Programming</a></li>
                                        <li><a href="#">Artificial Intelligence</a>
                                            <ul>
                                                <li><a href="#">Artificial Life</a></li>
                                                <li><a href="#">Neural Networks</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Resources</a></li>
                                        <li><a href="#">Web Developer</a></li>
                                    </ul>
                                </div>

                                <div class="tab-pane" id="tags">
                                     <h3 class="post-title">Tags</h3>
                                    <div class="tags-cloud">
                                        <a href="#" class="tag">Web</a>
                                        <a href="#" class="tag">Artificial Intelligence</a>
                                        <a href="#" class="tag">Programing</a>
                                        <a href="#" class="tag">Design</a>
                                        <a href="#" class="tag">3D</a>
                                        <a href="#" class="tag">Games</a>
                                        <a href="#" class="tag">Resources</a>
                                        <a href="#" class="tag">2D</a>
                                        <a href="#" class="tag">C++</a>
                                        <a href="#" class="tag">Jquery</a>
                                        <a href="#" class="tag">Javascript</a>
                                        <a href="#" class="tag">Library</a>
                                        <a href="#" class="tag">Windows</a>
                                        <a href="#" class="tag">Linux</a>
                                        <a href="#" class="tag">Cloud</a>
                                        <a href="#" class="tag">Game developer</a>
                                        <a href="#" class="tag">Server</a>
                                        <a href="#" class="tag">Google</a>
                                        <a href="#" class="tag">Bootstrap</a>
                                        <a href="#" class="tag">Less</a>
                                        <a href="#" class="tag">Sass</a>
                                        <a href="#" class="tag">Engine</a>
                                        <a href="#" class="tag">Node.js</a>
                                    </div>
                                </div>
                            </div> <!-- tab-content -->
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading"><i class="fa fa-play-circle"></i>Featured video</div class="panel-heading">
                            <div class="video">
                                <iframe src="http://player.vimeo.com/video/21081887?title=0&amp;byline=0&amp;portrait=0"></iframe>

                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading"><i class="fa fa-comments"></i> Recent Comments</div>
                            <div class="panel-body">
                                <ul class="comments-sidebar">
                                    <li>
                                        <img src="{% theme 'img/demo/client.jpg' %}" class="img-responsive" alt="Image">
                                        <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                        <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                    </li>
                                    <li>
                                        <img src="{% theme 'img/demo/client2.jpg' %}" class="img-responsive" alt="Image">
                                        <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                        <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                    </li>
                                    <li>
                                        <img src="{% theme 'img/demo/client6.jpg' %}" class="img-responsive" alt="Image">
                                        <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                        <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                    </li>
                                    <li>
                                        <img src="{% theme 'img/demo/client4.jpg' %}" class="img-responsive" alt="Image">
                                        <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                        <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                    </li>
                                    <li>
                                        <img src="{% theme 'img/demo/client5.jpg' %}" class="img-responsive" alt="Image">
                                        <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                        <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside> <!-- Sidebar -->
                </div>
            </div>
            {% endblock %}
        </div> <!-- container  -->
        {% endblock  %}

        <aside id="footer-widgets">
            <div class="container">
              {% block footer %}
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-widget-title">Sitemap</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="index-2.html">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="portfolio_sidebar.html">Portafolio</a></li>
                            <li><a href="portfolio_topvar.html">Works</a></li>
                            <li><a href="page_timeline_left.html">Timeline</a></li>
                            <li><a href="page_pricing.html">Pricing</a></li>
                            <li><a href="page_about2.html">About Us</a></li>
                            <li><a href="page_team.html">Our Team</a></li>
                            <li><a href="page_services.html">Services</a></li>
                            <li><a href="page_support.html">FAQ</a></li>
                            <li><a href="page_login_full.html">Login</a></li>
                            <li><a href="page_contact.html">Contact</a></li>
                        </ul>
                        <h3 class="footer-widget-title">Subscribe</h3>
                        <p>Lorem ipsum Amet fugiat elit nisi anim mollit minim labore ut esse Duis ullamco ad dolor veniam velit.</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Adress">
                            <span class="input-group-btn">
                                <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Recent Post</h3>
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="{% theme 'img/demo/m2.jpg' %}" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Lorem ipsum Duis quis occaecat minim lorem ipsum tempor officia labor</a></h4>
                                    <small>August 18, 2013</small>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="{% theme 'img/demo/m11.jpg' %}" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Lorem ipsum dolor excepteur sunt in lorem ipsum cillum tempor</a></h4>
                                    <small>September 14, 2013</small>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="{% theme 'img/demo/m4.jpg' %}" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Lorem ipsum Dolor cupidatat minim adipisicing et fugiat</a></h4>
                                    <small>October 9, 2013</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Recent Works</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="#" class="thumbnail"><img src="{% theme 'img/demo/wf1.jpg' %}" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="#" class="thumbnail"><img src="{% theme 'img/demo/wf2.jpg' %}" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="#" class="thumbnail"><img src="{% theme 'img/demo/wf3.jpg' %}" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="#" class="thumbnail"><img src="{% theme 'img/demo/wf4.jpg' %}" class="img-responsive" alt="Image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
                {% endblock %}
            </div> <!-- container -->
        </aside> <!-- footer-widgets -->
        <footer id="footer">
            <p>&copy; 2014 <a href="#">Artificial Reason</a>, inc. All rights reserved.</p>
        </footer>
      </div> <!-- boxed -->
    </div> <!-- sb-site -->
    {% endblock %}

    <div class="sb-slidebar sb-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- /input-group -->

        <h2 class="slidebar-header no-margin-bottom">Navigation</h2>
        <ul class="slidebar-menu">
            <li><a href="index-2.html">Home</a></li>
            <li><a href="portfolio_topbar.html">Portfolio</a></li>
            <li><a href="page_about3.html">About us</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="page_contact.html">Contact</a></li>
        </ul>

        <h2 class="slidebar-header">Social Media</h2>
        <div class="slidebar-social-icons">
            <a href="#" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
            <a href="#" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="social-icon-ar pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="social-icon-ar instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="social-icon-ar wordpress"><i class="fa fa-wordpress"></i></a>
            <a href="#" class="social-icon-ar linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="social-icon-ar flickr"><i class="fa fa-flickr"></i></a>
            <a href="#" class="social-icon-ar vine"><i class="fa fa-vine"></i></a>
            <a href="#" class="social-icon-ar dribbble"><i class="fa fa-dribbble"></i></a>
        </div>
    </div> <!-- sb-slidebar sb-right -->
    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- Scripts -->
    <!-- Compiled in vendors.js -->
    <!--
    <script src="{% theme 'js/jquery.min.js' %}"></script>
    <script src="{% theme 'js/jquery.cookie.js' %}"></script>
    <script src="{% theme 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% theme 'js/bootstrap.min.js' %}"></script>
    <script src="{% theme 'js/bootstrap-switch.min.js' %}"></script>
    <script src="{% theme 'js/wow.min.js' %}"></script>
    <script src="{% theme 'js/slidebars.min.js' %}"></script>
    <script src="{% theme 'js/jquery.bxslider.min.js' %}"></script>
    <script src="{% theme 'js/holder.js' %}"></script>
    <script src="{% theme 'js/buttons.js' %}"></script>
    <script src="{% theme 'js/jquery.mixitup.min.js' %}"></script>
    <script src="{% theme 'js/circles.min.js' %}"></script>
    <script src="{% theme 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% theme 'js/jquery.matchHeight-min.js' %}"></script>
    -->

    <script src="{% theme 'js/vendors.js' %}"></script>

    <script src="{% theme 'js/styleswitcher.js' %}"></script>

    <!-- Syntaxhighlighter -->
    <script src="{% theme 'js/syntaxhighlighter/shCore.js' %}"></script>
    <script src="{% theme 'js/syntaxhighlighter/shBrushXml.js' %}"></script>
    <script src="{% theme 'js/syntaxhighlighter/shBrushJScript.js' %}"></script>

    <script src="{% theme 'js/DropdownHover.js' %}"></script>
    <script src="{% theme 'js/app.js' %}"></script>
    <script src="{% theme 'js/holder.js' %}"></script>
  </body>
</html>

